:root {
    --main-black: rgba(19, 19, 19, 1);
    --main-grey: rgba(230, 230, 230, 1);
    --dark-grey: rgba(66, 70, 76, 1);
    --background: rgba(244, 244, 244, 1);
    --main-dark-grey: rgba(80, 80, 80, 1);
    --default-grey: rgba(123, 123, 123, 1);
    --white: rgba(254, 254, 254, 1);
    --error: rgba(181, 14, 14, 1);
    outline: 4px solid green !important;
}

[data-key] {
    white-space: pre-line;
}


@font-face {
    font-family: "IvyOra";
    src: url("./fonts/IvyOraDisplay-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background);
    overflow-x: hidden;
}

body.lock {
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9;
}

.menu.active+.overlay {
    opacity: 1;
    visibility: visible;
}

.fade-in {
    will-change: opacity, transform;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 55px 64px 0 64px;
    margin: auto 0;
}

.burger-menu {
    width: 38px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: var(--main-black);
    transition: 0.3s;
}

.menu {
    position: fixed;
    top: 100px;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 10;
    gap: 80px;
    overflow-y: auto;
}

.menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 150px 0 0 0;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    font-family: "Inter Tight";
    font-weight: 200;
    color: var(--main-black);
    text-transform: uppercase;
    letter-spacing: -2%;
    line-height: 100%;
}

.menu.active {
    right: 0;
}

.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 10px);
}

.burger-menu.active span:nth-child(2) {
    transform: rotate(-45deg) translate(5px, -10px);
}

.navigation {
    width: 48.6%
}

.nav-list,
.portfolio-nav-list {
    display: flex;
    max-width: 494px;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--main-black);
    text-transform: uppercase;
    font-family: "Inter Tight", serif;
    font-size: 16px;
    letter-spacing: -0.02em;
    font-weight: 300;
    line-height: 100%;
}

.nav-link {
    display: flex;
    position: relative;
}

.nav-list a:after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-black);
    transition: .5s;
    left: 50%;
    transform: translate(-50%);
}

.nav-list a:hover:after {
    width: 100%;
}

.nav-list a:visited {
    text-decoration: none;
    color: var(--main-black);
}

.lang-toggle {
    font-family: "Inter Tight", serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 100%;
    cursor: pointer;
}

.inactive-lang {
    color: var(--default-grey);
}

.main-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.scroll-content {
    width: 100%;
    background-color: var(--background);
    overflow-x: hidden;
    display: flex;
}

.scroll-container {
    height: 429px;
    background: var(--background);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-around;
}

.carousel {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    z-index: 9999;
}

.carousel-mobile {
    display: none;
}

.carousel img {
    display: block;
    width: 210px;
    height: 243px;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel div {
    width: 210px;
    height: 243px;
    display: flex;
    justify-content: center;
    padding: 0 4px;
    transition: transform 0.3s ease, padding 0.3s ease;
    cursor: pointer;
    position: relative;
}

.main-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 85px 70px 0 63px;
    margin-bottom: 60px;
}

.main-title-part {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.main-title-text {
    font-family: "ivyOra";
    letter-spacing: 1px;
    line-height: 110%;
    font-size: 118px;
}

.button {
    display: flex;
    width: 335px;
    height: 85px;
    padding: 8px;
    background-color: var(--white);
    color: var(--main-black);
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-black);
    flex-shrink: 0;
    font-size: 18px;
    font-family: "Inter", serif;
    cursor: pointer;
    transition: .5s;
}

.button:hover {
    background-color: var(--main-black);
    color: var(--main-grey);
    text-decoration: underline;
}

.link-button {
    text-decoration: none;
}

.main-screen:last-child {
    font-size: 14px;
    font-family: "Inter", serif;
}

.scroll-text {
    font-family: "Inter Tight", serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.02em;
}

.scroll-arrow {
    position: relative;
    width: 16px;
    height: 16px;
}

.chevron {
    position: absolute;
    width: 14px;
    height: 2px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 4s ease-out infinite;
}

.chevron:first-child {
    animation: move 4s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 4s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: var(--main-black);
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.quote {
    margin: 116px auto 0 auto;
    width: 100%;
    height: 401px;
    gap: 40px;
    display: flex;
    background-color: var(--main-dark-grey);
    justify-content: center;
    align-items: center;
    color: var(--main-grey);
    font-family: "ivyOra";
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.7px;
}

[lang="ua"] .quote {
    font-family: "Cormorant Infant", serif;
    font-weight: 100;
    font-size: 26px;
}

.quote-open {
    margin-top: -35px;
}

.quote-close {
    margin-top: 35px;
    transform: rotate(180deg);
}

.quote p {
    width: 33%;
    text-align: center;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14% 12% 0 12%;
    align-items: flex-start;
}

.avatar-mobile {
    display: none;
}

.about-text-content {
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 26px;
    letter-spacing: 1.3px;
}

.about-title {
    font-family: "ivyOra";
    font-size: 64px;
    font-weight: 200;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 53px 0 20px 3px;
}

[lang="ua"] .about-title {
    font-family: "Cormorant Infant", serif;
    font-size: 74px;
    font-weight: 200;
}

.about-title-star {
    position: absolute;
    left: 79%;
    top: 28%;
}

[lang="ua"] .about-title-star {
    left: 71%;
}

.about-text {
    width: 76%;
    font-family: "Inter Tight", serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.05em;
}

.about-text:last-child {
    width: 90%;
    margin-top: 20px;
}

.portfolio {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 14.5% 0 14.5% 0;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.portfolio-title {
    display: flex;
    justify-content: center;
    font-family: "ivyOra";
    font-size: 64px;
    line-height: 100%;
    font-weight: 200;
    text-transform: uppercase;
}

[lang="ua"] .portfolio-title {
    font-family: "Cormorant Infant", serif;
    font-size: 62px;
}

.swiper {
    width: 100%;
    height: auto;
}

.gallery-thumbs {
    width: 90%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.gallery-thumbs .swiper-slide {
    cursor: pointer;
    width: 301px;
    height: 463px;
    object-fit: cover;
    /* opacity: 0.8; */
    overflow: hidden;
}

.gallery-thumbs .swiper-wrapper {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    position: relative;
    gap: 20px;
    transition-timing-function: linear !important;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.gallery-top {
    height: 585px;
    width: 91%;
    object-fit: cover;
}

.gallery-top .swiper-slide {
    display: flex;
    justify-content: center;
}

.gallery-top .swiper-slide img {
    width: auto;
    height: auto;
    object-fit: cover;
}

.swiper-slide {
    object-fit: cover;
    display: flex;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--main-dark-grey);
    position: absolute;
    top: 82%
}

.swiper-button-prev {
    left: 4%;
}

.swiper-button-next {
    right: 4%;
}

.portfolio-nav-list {
    margin-top: -23px;
    width: 25%;
}

.portfolio-nav-link {
    text-transform: uppercase;
    font-family: "Inter Tight", serif;
    font-weight: 300;
    color: var(--main-black);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.portfolio-nav-link-active {
    font-weight: 400 !important;
}

.decor-horizontal-scroll {
    opacity: 0.5;
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    margin: 173px 0 0 0;
    gap: 10px;
}

.decor-carousel-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 0;
    animation: scroll-left 20s linear infinite;
}

.decor-carousel-wrapper>* {
    flex-shrink: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* @keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
} */

.services {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 202px 0 0 0;
    gap: 100px;
}

.service-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 94px;
}

.service-block:first-child {
    margin-left: 68px;
}

.service-info {
    display: flex;
    flex-direction: column;
    width: 44%;
    margin: -27px 0 0 0;
    gap: 30px;
    align-items: center;
}

.service-title {
    text-transform: uppercase;
    font-family: "IvyOra";
    font-size: 40px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--main-black);
}

[lang="ua"] .service-title {
    font-family: "Cormorant Infant", serif;
    font-size: 42px;
}

.service-price {
    font-family: "Inter Tight", serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    color: var(--main-black);
}

.custom-list, .service-info-title, .service-info-express-title {
    list-style: none;
    font-family: "Inter Tight", serif;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-left: 42px;
    font-weight: 400;
}

.service-info-title {
    width: 78%;
    margin-left: 26px;
}

.service-info-express-title {
    width: 78%;
    margin-left: -13px;
}

.custom-list-express {
    margin-left: 18px;
}

.custom-list li {
    width: 78%;
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
    margin-left: 26px;
    letter-spacing: 0;
    position: relative;
}

.service-express ul {
    width: 100%;
    margin-left: 46px;
}

.custom-list li::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/star.png');
    background-size: cover;
}

.service-note {
    width: 68%;
    text-align: justify;
    margin: -13px 0 0 14px;
    font-family: "Inter Tight Light", serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.2px;
}

.service-info a {
    width: 74%;
}

.service-info button {
    width: 100%;
}

.service-express {
    padding: 0 5% 0 3%;
}

.service-express a {
    width: 80%;
}

.service-express-photo {
    object-fit: cover;
    margin: -9% 0 0 1%;
}

.service-personal-photo {
    margin: -6% 0 0 9%;
    object-fit: cover;
}

.organizational-issues {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--main-dark-grey);
    color: var(--background);
    margin-top: 136px;
    min-height: 723px;
}

.organizational-issues h3,
.organizational-issues p {
    color: var(--background);
}

.organizational-issues-text p {
    margin-left: 65px;
    text-align: start;
    letter-spacing: -0.01em;
    font-weight: 200;
}

.organizational-issues-text ul {
    margin: -20px 0 0 82px;
    font-weight: 200;
}

.organizational-issues-text ul li {
    letter-spacing: -0.01em;
}

.organizational-issues-text ul li::before {
    background-image: url('./assets/star-white.png');
}

.organizational-issues-img img {
    width: 524px;
    height: 723px;
}

.organizational-issues-img {
    display: flex;
    align-items: center;
}

.organizational-issues-text {
    padding: 100px 34px 0 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 64%;
}

.wedding {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 195px;
    gap: 90px
}

.wedding-services {
    margin: -27px 0 0 0;
    width: 95%;
    display: flex;
    flex-direction: row;
}

.wedding a {
    width: 45%;
    margin-top: -19px;
}

.wedding button {
    width: 100%;
}

.vertical-line {
    display: flex;
    width: 1px;
    background-color: var(--main-black);
}

.wedding-service {
    padding: 0 0px 0 13px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: start;
    padding-top: 28px;
    
}

.wedding-service p {
    font-weight: 300;
}

.wedding-service-title {
    margin: 0 0 0 23px;
    font-size: 18px;
    font-family: "Inter";
    line-height: 130%;
}

.wedding-service ul {
    margin-left: 0;
    font-weight: 300;
    margin: 0 0 0 -15px;
}

.wedding-service ul li {
    width: 90%;
    letter-spacing: -0.01em;
}

.wedding-slides {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 91%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.wedding-slide img {
    width: 421px;
    height: 602px;
    object-fit: cover;
}

.black-white-wedding-slide,
.wedding-slide {
    position: relative;
    width: 421px;
    height: 602px;
}

.black-white-wedding-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 30s infinite;
    animation-fill-mode: both;
    z-index: 0;
}


.black-white-wedding-slide .bw-1 {
    animation-delay: 0s;
    z-index: 1;
}

.black-white-wedding-slide .bw-2 {
    animation-delay: 10s;
    z-index: 2;
}

.black-white-wedding-slide .bw-3 {
    animation-delay: 20s;
    z-index: 3;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
.wedding-mobile-button {
    display: none;
}

.contacts-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 210px 0 0 0;
    gap: 113px;
    padding: 0 40px;
}

.contacts-form-title {
    font-family: "IvyOra";
    font-size: 192px;
    line-height: 110%;
    color: var(--main-black);
    letter-spacing: 0.2px;
    display: flex;
    text-align: center;
    font-weight: 500;
}

.contacts-form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 24px;
}

.form-container {
    width: 49%;
    margin: -10px 0 0 0;
}

.contacts-form-info {
    width: 39%;
    display: flex;
    flex-direction: column;
    gap: 63px;
}

.contacts-form-info p {
    font-family: "Inter Tight", serif;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.1px;
    color: var(--main-black);
    font-weight: 400;
}

.contacts-form-info-media-links {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.media-link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Inter Tight", serif;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1px;
    padding: 0 0 0 5px;
    color: var(--main-dark-grey);
    cursor: pointer;
}

.media-link {
    display: flex;
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.media-link:after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-black);
    transition: .5s;
    left: 43%;
    transform: translate(-50%);
}

.media-link:hover:after {
    width: 80%;
}

.media-link a:visited {
    text-decoration: none;
    color: var(--main-dark-grey);
}

form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    display: block;
    margin-top: 10px;
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
    color: var(--main-dark-grey);
}

input,
select,
textarea {
    width: 99%;
    padding: 10px 20px;
    background-color: var(--background);
    border: none;
    border-bottom: 1px solid var(--dark-grey);
}

select {
    padding: 10px 20px;
    color: var(--default-grey);
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
}

input::placeholder,
select::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--default-grey);
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
    /* padding: 0 10px; */
}

input:focus,
select:focus,
textarea:focus,
select:focus {
    outline: none;
}

.submit-button {
    width: 99%;
    margin: 30px 0 0 0;
}

.footer {
    width: 100%;
    height: 507px;
    background-color: var(--main-dark-grey);
    display: flex;
    flex-direction: row;
    margin: 164px 0 0 0;
    padding: 58px 63px;
    justify-content: space-between;
}

.footer-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-mobile-content {
    display: none;
}

.footer-content-contacts {
    margin-top: 59px;
    display: flex;
    align-items: end;
    color: var(--main-grey);
    gap: 10px;
    font-weight: 300;
}

.footer-content-contacts .footer-notes {
    margin-top: 72px;
}

.footer-content-contacts a {
    color: var(--main-grey);
    text-decoration: none;
}

.footer-content-contacts a:visited {
    color: var(--main-grey);
    text-decoration: none;
}

.contacts-tel {
    font-family: "Inter Tight", serif;
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 100%;
}

.contacts-email {
    font-family: "Inter Tight", serif;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.5px;
}

.footer-text {
    font-family: "Inter Tight Regular", serif;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.5px;
}

.media-icons {
    display: flex;
    gap: 25px;
}

.footer-notes {
    font-family: "Inter", serif;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: var(--main-grey);
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 1050px) {

    .navigation,
    .lang-toggle {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    @media (hover: none) {
        .nav-list a:hover:after {
            width: 0;
        }

        .carousel div:hover {
            transform: scale(0);
            padding: 0;
        }

        .button:hover {
            background-color: var(--white);
            color: var(--main-black);
            text-decoration: none;
        }

        .media-link:hover:after {
            width: 0%;
        }
    }

    .header {
        width: 100%;
        padding: 63px 20px 0 20px;
    }

    .open-menu-lang-toggle {
        display: flex;
        font-size: 24px;
        font-family: "Inter Tight";
        font-weight: 200;
        color: var(--main-black);
        letter-spacing: -2%;
        line-height: 100%;
    }

    .scroll-container {
        height: 290px;
    }

    .main-title {
        padding: 52px 20px 0 20px;
        gap: 13px;
    }

    .main-title-text {
        font-size: 50px;
        letter-spacing: normal;
        display: flex;
        justify-content: center;
    }

    .main-title-part p {
        font-size: 42px;
    }

    .scroll-text {
        font-size: 14px;
    }

    .scroll-text:after {
        left: 47.5%;
    }

    .quote {
        margin-top: 162px;
        height: 316px;
        font-size: 18px;
        text-align: center;
        padding: 0 20px;
        gap: 30px;
        letter-spacing: 0.2px;
    }

    [lang="ua"] .quote {
        font-size: 20px;
    }

    .quote p {
        width: 58%;
    }

    .quote-open {
        width: 42px;
        height: 48px;
        margin-top: -91px;
    }

    .quote-close {
        width: 42px;
        margin-top: 94px;
        height: 48px;
    }

    .carousel {
        display: none;
    }

    .carousel-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .carousel-mobile div {
        object-fit: cover;
        height: 243px;
    }

    .carousel-mobile div img {
        height: 243px;
    }

    .about {
        padding: 20px;
        margin: 120px 0 0 0;
    }

    .about-title {
        font-size: 49px;
        width: 100%;
        letter-spacing: 0.5px;
        text-align: center;
    }

    [lang="ua"] .about-title {
        font-size: 52px;
    }

    .about-title-star {
        position: absolute;
        left: 85%;
        top: 2%;
    }

    [lang="ua"] .about-title-star {
        left: 78%;
        top: 41px;
    }

    .avatar {
        display: none;
    }

    .avatar-mobile {
        display: block;
        margin: 24px 0 38px 0;
    }

    .about-text-content {
        align-items: center;
        width: 100%;
        gap: 0;
    }

    .about-text {
        width: 100%;
        display: flex;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 1.6px;
        color: var(--main-black);
        margin-top: 20px;
    }

    .about-text:last-child {
        width: 100%;
        font-size: 18px;
        letter-spacing: 1.8px;
        margin: 12px 0 0 0;
    }

    .portfolio {
        margin: 36.5% 0 24% 0;
        gap: 68px;
    }

    .portfolio-title {
        font-size: 42px;
        line-height: 110%;
        letter-spacing: -0.5px;
    }

    [lang="ua"] .portfolio-title {
        font-size: 42px;
    }

    .gallery-thumbs .swiper-slide {
        width: 100%;
        height: 481px;
    }

    .portfolio-nav-list {
        margin-top: -8px;
        width: 89%;
    }

    .decor-horizontal-scroll {
        margin: 157px 0 0 0;
    }

    .services {
        margin: 158px 0 0 0;
        width: 100%;
        padding: 0 20px;
        gap: 63px;
    }

    .service-block {
        width: 100%;
        flex-direction: column;
        gap: 77px;
        margin-bottom: 9px;
    }

    .service-personal-photo,
    .service-express-photo {
        margin: 0;
        width: 335px;
        height: 480px;
        object-fit: cover;
    }

    .service-info {
        width: 100%;
        gap: 25px;
    }

    .service-title {
        font-size: 32px;
    }

    [lang="ua"] .service-title {
        font-size: 32px;
    }

    .custom-list {
        margin: 0 0 0 -5px;
        gap: 18px;
    }

    .custom-list li,
    .service-note {
        margin: 0;
    }

    .service-note {
        width: 80%;
    }

    .service-info button {
        width: 100%;
        margin: 0;
    }

    .service-express {
        flex-direction: column-reverse;
        padding: 0;
    }

    .service-express ul {
        margin-left: 0;
    }

    .organizational-issues {
        flex-direction: column;
        margin: 159px 0 0 0;
        padding: 71px 0 0 0;
        align-items: center;
        gap: 75px;
    }

    .organizational-issues-text {
        width: 100%;
        padding: 0 20px;
        align-items: center;
    }

    .organizational-issues-text h3 {
        text-align: center;
        display: flex;
        font-size: 42px;
    }

    .organizational-issues p {
        margin: 0;
        font-size: 16px;
        text-align: center;
        width: 80%;
    }

    .organizational-issues-text ul {
        margin: -15px 0 0 -11px;
    }

    .organizational-issues-img img {
        width: 100%;
        height: 562px;
        object-fit: cover;
    }

    .wedding {
        margin: 163px 0 0 0;
        gap: 29px
    }

    .wedding a,
    .service-info a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .wedding-service h3 {
        font-size: 36px;
    }

    .wedding-services {
        flex-direction: column;
        gap: 20px;
    }

    .wedding-service {
        align-items: center;
    }

    .wedding button {
        width: 95%;
    }

    .wedding-mobile-button {
        display: flex;
    }

    .wedding-desktop-button {
        display: none;
    }

    .wedding-slide img,
    .wedding-slide,
    .black-white-wedding-slide {
        width: 336px;
        height: 480px;
        object-fit: cover;
    }

    .contacts-form {
        margin: 156px 0 0 0;
        padding: 0;
        gap: 54px;
    }

    .contacts-form-title {
        font-size: 64px;
    }

    .contacts-form-content {
        flex-direction: column;
        gap: 92px;
    }

    .contacts-form-info {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }

    .footer {
        margin: 119px 0 0 0;
        flex-direction: column;
        height: fit-content;
        padding: 98px 71px;
    }

    .footer-content {
        width: 100%;
        gap: 74px;
    }

    .media-icons {
        justify-content: center;
        gap: 24px;
    }

    .footer-logo {
        width: 232px;
        height: 19px;
    }

    .footer-notes,
    .footer-content-contacts {
        display: none;
    }

    .footer-mobile-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        margin: -15px 0 0 0;
    }

    .mobile-contacts-tel,
    .mobile-contacts-email,
    .footer-text {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: var(--main-grey);
        font-size: 18px;
        letter-spacing: 1.2px;
        font-family: "Inter Regular";
    }

    .mobile-contacts-email {
        text-decoration: underline;
        font-size: 20px;
        letter-spacing: 0.2px;
        line-height: 130%;
    }

    .back-to-top-button {
        background-color: var(--main-dark-grey);
        color: var(--main-grey);
        display: flex;
        align-items: center;
        border: none;
        font-family: "Inter", serif;
        font-size: 18px;
        line-height: 130px;
        letter-spacing: 1px;
        border-bottom: 1px solid var(--main-grey);
        height: 23px;
        width: 151px;
        justify-content: space-between;
        font-weight: 200;
        padding: 0;
        margin: 90px 0 0 0;
    }

    .mobile-footer-notes {
        color: var(--background);
        font-size: 16px;
        font-family: "Inter", serif;
        font-weight: 50;
    }
}