:root {
    --main-black: rgba(19, 19, 19, 1);
    --main-grey: rgba(230, 230, 230, 1);
    --dark-grey: rgba(66, 70, 76, 1);
    --background: rgba(244, 244, 244, 1);
    --main-dark-grey: rgba(80, 80, 80, 1);
    --default-grey: rgba(123, 123, 123, 1);
    --white: rgba(254, 254, 254, 1);
    /* --error: rgba(181, 14, 14, 1); */
}

@font-face {
    font-family: "ivyOra";
    src: url("./fonts/IvyOraDisplay-Thin.woff") format(woff);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    width: 100vw;
    max-width: 1440px;
    background-color: var(--background);
    overflow-x: hidden;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 55px 64px 0 64px;
    margin: auto 0;
}

.navigation {
    width: 48.6%
}

.nav-list, .portfolio-nav-list {
    display: flex;
    max-width: 494px;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--main-black);
    text-transform: uppercase;
    font-family: "Inter Tight", serif;
    font-size: 16px;
    letter-spacing: -2%;
    line-height: 100%;
}

.nav-link {
    display: flex;
    position: relative;
}

.nav-list a:after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-black);
    transition: .5s;
    left: 50%;
    transform: translate(-50%);
}

.nav-list a:hover:after {
    width: 100%;
}

.nav-list a:visited {
    text-decoration: none;
    color: var(--main-black);
}

.lang-toggle {
    font-family: "Inter Tight", serif;
    font-size: 16px;
    letter-spacing: -2%;
    line-height: 100%;
    cursor: pointer;
}

.inactive-lang {
    color: var(--default-grey);
}

.main-screen {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.scroll-content {
    width: 100vw;
    background-color: var(--background);
    overflow-x: hidden;
    display: flex;
}

.scroll-container {
    height: 429px;
    background: var(--background);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-around;
}

.carousel {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    z-index: 9999;
}

.carousel-mobile {
    display: none;
}

.carousel img {
    display: block;
    width: 210px;
    height: 243px;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel div {
    width: 210px;
    height: 243px;
    display: flex;
    justify-content: center;
    padding: 0 4px;
    transition: transform 0.3s ease, padding 0.3s ease;
    cursor: pointer;
    position: relative;
}


/* .carousel div:hover {
    transform: scale(1.5);
    padding: 0 51px;
} */

/* @keyframes scroll-horizontal {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
} */
.main-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 85px 70px 0 63px;
    margin-bottom: 60px;
}

.main-title-part {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.main-title-text {
    font-family: "ivyOra";
    letter-spacing: 1px;
    line-height: 110%;
    font-size: 118px;
}

.button {
    display: flex;
    width: 335px;
    height: 85px;
    padding: 8px;
    background-color: var(--white);
    color: var(--main-black);
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-black);
    flex-shrink: 0;
    font-size: 18px;
    font-family: "Inter", serif;
    cursor: pointer;
    transition: .5s;
}

.button:hover {
    background-color: var(--main-black);
    color: var(--main-grey);
    text-decoration: underline;
}

.main-screen:last-child {
    font-size: 14px;
    font-family: "Inter", serif;
}

.scroll-arrow {
    position: relative;
    width: 16px;
    height: 16px;
}

.chevron {
    position: absolute;
    width: 14px;
    height: 2px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 4s ease-out infinite;
}

.chevron:first-child {
    animation: move 4s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 4s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: var(--main-black);
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.quote {
    margin-top: 116px;
    width: 100vw;
    height: 401px;
    gap: 40px;
    display: flex;
    background-color: var(--main-dark-grey);
    justify-content: center;
    align-items: center;
    color: var(--main-grey);
    font-family: "ivyOra";
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.7px;
}

.quote-open {
    margin-top: -35px;
}

.quote-close {
    margin-top: 35px;
    transform: rotate(180deg);
}

.about {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14% 12% 0 12%;
    align-items: flex-start;
}

.avatar-mobile {
    display: none;
}

.about-text-content {
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 29px;
    letter-spacing: 1.3px;
}

.about-title {
    font-family: "ivyOra";
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 31px 0 20px 6px;
}

.about-title img {
    margin: 0 0 36px -16px;
}

.about-text {
    width: 82%;
    font-family: "Inter Regular", serif;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1.8px;
}

.about-text:last-child {
    width: 90%;
    margin-top: 12px;
}

.portfolio {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 14.5% 0 14.5% 0;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.portfolio-title {
    display: flex;
    justify-content: center;
    font-family: "ivyOra";
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
}

.swiper {
    width: 100%;
    height: auto;
}

.gallery-thumbs {
    width: 90%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.gallery-thumbs .swiper-slide {
    cursor: pointer;
    width: 301px;
    height: 463px;
    object-fit: cover;
    /* opacity: 0.8; */
    overflow: hidden;
}

.gallery-thumbs .swiper-wrapper {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    position: relative;
    gap: 20px;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.gallery-top {
    height: 585px;
    width: 91%;
    object-fit: cover;
}

.gallery-top .swiper-slide {
    display: flex;
    justify-content: center;
}

.gallery-top .swiper-slide img {
    width: auto;
    height: auto;
    object-fit: cover;
}

.swiper-slide {
    object-fit: cover;
    display: flex;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--main-dark-grey);
    position: absolute;
    top: 82%
}

.swiper-button-prev {
    left: 4%;
}

.swiper-button-next {
    right: 4%;
}

.portfolio-nav-list {
    margin-top: -16px;
    width: 25%;
}

.portfolio-nav-link {
    text-transform: uppercase;
    font-family: "Inte Tight Light";
    color: var(--main-black);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1.2px;
    cursor: pointer;
}

.decor-horizontal-scroll {
    position: relative;
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    margin: 173px 0 0 0;
    gap: 10px;
}

.decor-carousel-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 0;
    animation: scroll-left 20s linear infinite;
}

.decor-carousel-wrapper>* {
    flex-shrink: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.services {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 202px 0 0 0;
    gap: 100px;
}

.service-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 94px;
}
.service-block:first-child{
    margin-left: 68px;
}
.service-info {
    display: flex;
    flex-direction: column;
    width: 44%;
    margin: -27px 0 0 0;
    gap: 31px;
    align-items: center;
}

.service-title {
    text-transform: uppercase;
    font-family: "IvyOra";
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color: var(--main-black);
}

.service-price {
    font-family: "Inter Tight", serif;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: var(--main-black);
}

.custom-list {
    list-style: none;
    font-family: "Inter Tight", serif;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-left: 42px;
    letter-spacing: 1px;
}

.custom-list li {
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
    margin-left: 26px;
    letter-spacing: 0;
    position: relative;
}

.custom-list li::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('./assets/star.png');
    background-size: cover;
}

.service-note {
    width: 74%;
    text-align: justify;
    margin: -18px 0 0 52px;
    font-family: "Inter Tight Light", serif;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.2px;
}

.service-info button {
    width: 74%;
    margin-top: 20px;
}

.service-express {
    padding: 0 5% 0 3%;
}

.service-express-photo {
    margin-top: -50px;
}

.service-personal-photo {
    margin-left: 6%;
}

.organizational-issues {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--main-dark-grey);
    color: var(--background);
    margin-top: 115px;
    min-height: 723px;
}

.organizational-issues h3, .organizational-issues p {
    color: var(--background);
}

.organizational-issues-text p {
    margin-left: 65px;
    text-align: start;
}

.organizational-issues-text ul {
    margin-left: 82px;
}

.organizational-issues-text ul li::before {
    background-image: url('./assets/star-white.png');
}

.organizational-issues-img img{
    width: 524px;
    height: 723px;
}

.organizational-issues-img {
    display: flex;
    align-items: center;
}

.organizational-issues-text {
    padding: 100px 34px 0 0px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 64%;
}

.wedding {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 213px;
    gap: 90px
}

.wedding-services {
    width: 95%;
    display: flex;
    flex-direction: row;
}

.wedding button {
    width: 45%;
}

.vertical-line {
    display: flex;
    width: 1px;
    background-color: var(--main-black);
}

.wedding-service {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: start;
    padding-top: 28px;
}

.wedding-service ul {
    margin-left: 0;
}

.wedding-slides {
    display: flex;
    flex-direction: row;
    width: 91%;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.wedding-slide img {
    width: 421px;
    height: 602px;
}

.wedding-mobile-button {
    display: none;
}

.contacts-form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 198px 0 0 0;
    gap: 110px;
    padding: 0 40px;
}

.contacts-form-title {
    font-family: "IvyOra";
    font-size: 192px;
    line-height: 110%;
    color: var(--main-black);
    letter-spacing: 0.2px;
    display: flex;
    text-align: center;
}

.contacts-form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.form-container {
    width: 49%;
    margin: -10px 0 0 0;
}

.contacts-form-info {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 63px;
}

.contacts-form-info p {
    font-family: "Inter Tight", serif;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.1px;
    color: var(--main-black);
}

.contacts-form-info-media-links {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.media-link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Inter Tight", serif;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1px;
    padding: 0 0 0 5px;
    color: var(--main-dark-grey);
    cursor: pointer;
}

.media-link {
    display: flex;
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.media-link:after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-black);
    transition: .5s;
    left: 43%;
    transform: translate(-50%);
}

.media-link:hover:after {
    width: 80%;
}

.media-link a:visited {
    text-decoration: none;
    color: var(--main-dark-grey);
}

form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    display: block;
    margin-top: 10px;
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
    color: var(--main-dark-grey);
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--background);
    border: none;
    border-bottom: 1px solid var(--dark-grey);
}

select{
    color: var(--default-grey);
        font-family: "Inter Tight", serif;
        font-size: 16px;
        line-height: 120%;
}

input::placeholder,
select::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--default-grey);
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
    padding:  0 10px;
}

.submit-button{
    width: 99%;
    margin: 30px 0 0 0;
}

.footer {
    width: 100vw;
    height: 507px;
    background-color: var(--main-dark-grey);
    display: flex;
    flex-direction: row;
    margin: 160px 0 0 0;
    padding: 72px 63px;
    justify-content: space-between;
}

.footer-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-mobile-content {
    display: none;
}

.footer-content-contacts {
    margin-top: 59px;
    display: flex;
    align-items: end;
    color: var(--main-grey);
    gap: 10px;
}

.footer-content-contacts .footer-notes {
    margin-top: 58px;
}

.footer-content-contacts a {
    color: var(--main-grey);
    text-decoration: none;
}

.footer-content-contacts a:visited {
    color: var(--main-grey);
    text-decoration: none;
}

.contacts-tel {
    font-family: "Inter Tight", serif;
    font-size: 28px;
    letter-spacing: -0.2px;
    line-height: 100%;
}

.contacts-email {
    font-family: "Inter Tight Regular", serif;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.5px;
}

.footer-text {
    font-family: "Inter Tight Regular", serif;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.5px;
}

.media-icons {
    display: flex;
    gap: 30px;
}

.footer-notes {
    font-family: "Inter Regular", serif;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1.8px;
    color: var(--main-grey);
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .navigation, .lang-toggle {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    @media (hover: none) {
        .nav-list a:hover:after {
                width: 0;
            }
        .carousel div:hover {
                transform: scale(0);
                padding: 0;
            }
        .button:hover {
                background-color: var(--white);
                color: var(--main-black);
                text-decoration: none;
            }
            .media-link:hover:after {
                width: 0%;
            }
    }
    .header {
        padding: 63px 20px 0 20px;
    }
    .scroll-container {
        height: 290px;
    }
    .main-title {
        padding: 52px 20px 0 20px;
        gap: 13px;
    }

    .main-title-text {
        font-size: 50px;
        letter-spacing: normal;
        display: flex;
        justify-content: center;
    }
    .main-title-part p {
        font-size: 42px;
    }
    .scroll-text {
        font-size: 14px;
    }

    .scroll-text:after {
        left: 47.5%;
    }

    .quote {
        margin-top: 162px;
        height: 316px;
        font-size: 18px;
        text-align: center;
        padding: 0 20px;
        gap: 30px;
        letter-spacing: 0.2px;
    }
    .quote-open {
        width: 42px;
        height: 48px;
        margin-top: -91px;
    }

    .quote-close {
        width: 42px;
        margin-top: 94px;
        height: 48px;
    }
 
    .carousel {
        display: none;
    }

    .carousel-mobile {
        width: fit-content;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .carousel-mobile div {
        width: 210px;
        object-fit: cover;
        height: 243px;
    }

    .carousel-mobile div img {
        width: 210px;
        height: 243px;
    }

   .about {
       padding: 20px;
       margin: 120px 0 0 0;
   }

   .about-title {
        font-size: 50px;
        width: 100vw;
        letter-spacing: 0.5px;
   }

   .about-title img {
       margin: -8px 0 43px -45px;
   }

    .avatar {
        display: none;
    }

    .avatar-mobile{
        display: block;
        margin: 24px 0 38px 0;
    }

    .about-text-content {
        width: 100%;
        gap: 0;
    }

    .about-text {
        width: 100%;
        display: flex;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 1.6px;
        color: var(--main-black);
        margin-top: 20px;
    }

    .about-text:last-child {
        width: 100%;
        font-size: 18px;
        letter-spacing: 1.8px;
        margin: 12px 0 0 0;
     }

    .portfolio{
        margin: 36.5% 0 24% 0;
        gap: 68px;
    }

    .portfolio-title {
        font-size: 42px;
        line-height: 110%;
        letter-spacing: -0.5px;
     }

    .gallery-thumbs .swiper-slide {
        width: 100%;
        height: 481px;
    }

    .portfolio-nav-list {
        margin-top: -8px;
        width: 89%;
    }

    .decor-horizontal-scroll {
        margin: 157px 0 0 0;
    }

    .services {
        margin: 158px 0 0 0;
        width: 100vw;
        padding: 0 20px;
        gap: 63px;
    }

    .service-block {
        width: 100%;
        flex-direction: column;
        gap: 77px;
        margin-bottom: 9px;
    }
    .service-personal-photo, .service-express-photo {
        margin: 0;
        width: 335px;
        height: 480px;
        object-fit: cover;
    }

    .service-info {
        width: 100%;
        gap: 25px;
    }

    .service-title {
        font-size: 32px;
    }

    .custom-list {
        margin: 0 0 0 -5px;
        gap: 18px;
    }

    .custom-list li, .service-note {
       margin: 0; 
    }

    .service-note {
        width: 80%;
    }

    .service-info button {
        width: 100%;
        margin: 0;
    }

    .service-express {
        flex-direction: column-reverse;
        padding: 0;
    }

    .organizational-issues {
        flex-direction: column;
        margin: 159px 0 0 0;
        padding: 71px 0 0 0;
        align-items: center;
        gap: 75px;
    }

    .organizational-issues-text {
        width: 100vw;
        padding: 0 20px;
        align-items: center;
    }

    .organizational-issues-text h3 {
        text-align: center;
        display: flex;
        font-size: 42px;
    }

    .organizational-issues p {
        margin: 0;
        font-size: 16px;
        text-align: center;
        width: 80%;
    }

    .organizational-issues-text ul {
        margin: -15px 0 0 -11px;
    }

    .organizational-issues-img img {
        width: 375px;
        height: 562px;
        object-fit: cover;
    }

    .wedding {
        margin: 163px 0 0 0;
        gap: 29px
    }

    .wedding-service h3 {
        font-size: 36px;
    }

    .wedding-services {
        flex-direction: column;
        gap: 20px;
    }

    .wedding-service {
        align-items: center;
    }

    .wedding button {
        width: 95%;
    }

    .wedding-mobile-button {
        display: flex;
    }

    .wedding-desktop-button {
        display: none;
    }

    .wedding-slide img {
        width: 336px;
        height: 480px;
        object-fit: cover;
    }

    .contacts-form {
        margin: 156px 0 0 0;
        padding: 0;
        gap: 54px;
    }

    .contacts-form-title {
        font-size: 64px;
    }

    .contacts-form-content {
        flex-direction: column;
        gap: 92px;
    }

    .contacts-form-info {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }

    .footer {
        margin: 119px 0 0 0;
        flex-direction: column;
        height: fit-content;
        padding: 98px 71px;
    }

    .footer-content {
        width: 100%;
        gap: 74px;
    }

    .media-icons {
        justify-content: center;
        gap: 24px;
    }

    .footer-logo {
        width: 232px;
        height: 19px;
    }

    .footer-notes, .footer-content-contacts {
        display: none;
    }

    .footer-mobile-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        margin: -15px 0 0 0;
    }

    .mobile-contacts-tel, .mobile-contacts-email, .footer-text {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: var(--main-grey);
        font-size: 18px;
        letter-spacing: 1.2px;
        font-family: "Inter Regular";
    }

    .mobile-contacts-email {
        text-decoration: underline ;
        font-size: 20px;
        letter-spacing: 0.2px;
        line-height: 130%;
    }

    .back-to-top-button {
        background-color: var(--main-dark-grey);
        color: var(--main-grey);
        display: flex;
        align-items: center;
        border: none;
        font-family: "Inter", serif;
        font-size: 18px;
        line-height: 130px;
        letter-spacing: 1px;
        border-bottom: 1px solid var(--main-grey);
        height: 23px;
        width: 151px;
        justify-content: space-between;
        font-weight: 200;
        padding: 0;
        margin: 90px 0 0 0;
    }
    .mobile-footer-notes {
        color: var(--background);
        font-size: 16px;
        font-family: "Inter", serif;
        font-weight: 50;
    }
}