:root {
    --main-black: rgba(19, 19, 19, 1);
    --main-grey: rgba(230, 230, 230, 1);
    --dark-grey: rgba(66, 70, 76, 1);
    --background: rgba(244, 244, 244, 1);
    --main-dark-grey: rgba(80, 80, 80, 1);
    --default-grey: rgba(123, 123, 123, 1);
    --white: rgba(254, 254, 254, 1);
    /* --error: rgba(181, 14, 14, 1); */
}

@font-face {
    font-family: "ivyOra";
    src: url("/fonts/IvyOraDisplay-Thin.woff") format(woff);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100vw;
    max-width: 1440px;
    background-color: var(--background);
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 55px 64px 0 64px;
    margin: auto 0;
}

.navigation {
    width: 48.6%
}

.nav-list {
    display: flex;
    max-width: 494px;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: var(--main-black);
    text-transform: uppercase;
    font-family: "Inter Tight", serif;
    font-size: 16px;
    letter-spacing: -2%;
    line-height: 100%;
}

.nav-link {
    display: flex;
    position: relative;
}

.nav-list a:after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-black);
    transition: .5s;
    left: 50%;
    transform: translate(-50%);
}

.nav-list a:hover:after {
    width: 100%;
}

.nav-list a:visited {
    text-decoration: none;
    color: var(--main-black);
}

.lang-toggle {
    font-family: "Inter Tight", serif;
    font-size: 16px;
    letter-spacing: -2%;
    line-height: 100%;
    cursor: pointer;
}

.inactive-lang {
    color: var(--default-grey);
}

.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px
}

.scroll-content {
    width: 100vw;
    background-color: var(--background);
    overflow-x: hidden;
    display: flex;
}

.scroll-container {
    height: 367px;
    background: var(--background);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-around;
}

.carousel {
    display: flex;
    gap: 17px;
    flex-shrink: 0;
    animation: scroll-horizontal 60s linear infinite;
    margin: 0 9px;
    z-index: 9999;
}

.carousel img {
    display: block;
    width: 210px;
    height: 243px;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel div {
    display: flex;
    justify-content: center;
    padding: 0 4px;
    transition: transform 0.3s ease, padding 0.3s ease;
    cursor: pointer;
    position: relative;
}


.carousel div:hover {
    transform: scale(1.5);
    padding: 0 51px;
}


@keyframes scroll-horizontal {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.main-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 85px 70px 0 63px;
}

.main-title-part {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.main-title-text {
    font-family: "ivyOra";
    letter-spacing: 1px;
    line-height: 110%;
    font-size: 118px;
}

.button {
    display: flex;
    width: 335px;
    height: 85px;
    padding: 8px;
    background-color: var(--white);
    color: var(--main-black);
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-black);
    flex-shrink: 0;
    font-size: 18px;
    font-family: "Inter", serif;
    cursor: pointer;
    transition: .5s;
}

.button:hover {
    background-color: var(--main-black);
    color: var(--main-grey);
    text-decoration: underline;
}

.main-screen:last-child {
    font-size: 14px;
    font-family: "Inter", serif;
    ;
}

.scroll-text:after {
    content: "";
    background-image: url("/assets/arrow-icon.png");
    display: block;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 7px;
    left: 50%;
    width: 16px;
    height: 16px;
}

.quote {
    margin-top: 128px;
    width: 100vw;
    height: 401px;
    gap: 40px;
    display: flex;
    background-color: var(--main-dark-grey);
    justify-content: center;
    align-items: center;
    color: var(--main-grey);
    font-family: "ivyOra";
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.7px;
}

.quote-open {
    margin-top: -35px;
}

.quote-close {
    margin-top: 35px;
    transform: rotate(180deg);
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 207px 0 0;
    gap: 15%;
    align-items: flex-start;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.about-title {
    font-family: "ivyOra";
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 31px 0 20px -112px;
}

.about-title img {
    margin: 0 0 36px -16px;
}

.about-text {
    font-family: "Inter", serif;
    font-size: 18px;
    line-height: 130%;
}

.about-text:last-child {
    margin-top: 12px;
}

.portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 210px 0 0 0;
    gap: 73px;
}

.portfolio-title {
    display: flex;
    justify-content: center;
    font-family: "ivyOra";
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
}

.swiper {
    width: 100%;
    height: auto;
}

.gallery-thumbs {
    width: 80%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.gallery-thumbs .swiper-slide {
    cursor: pointer;
    width: 265px;
    height: 397px;
    object-fit: cover;
    /* opacity: 0.8; */
    overflow: hidden;
}

.gallery-thumbs .swiper-wrapper {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    position: relative;
    gap: 30px;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.gallery-top {
    height: 585px;
    width: 91%;
    object-fit: cover;
}

.gallery-top .swiper-slide {
    display: flex;
    justify-content: center;
}

.gallery-top .swiper-slide img {
    width: auto;
    height: auto;
    object-fit: cover;
}

.swiper-slide {
    object-fit: cover;
    display: flex;
}

.swiper-button-prev, .swiper-button-next {
    color: var(--main-dark-grey);
    position: absolute;
    top: 82%
}

.swiper-button-prev {
    left: 4%;
}

.swiper-button-next {
    right: 4%;
}

.decor-horizontal-scroll {
    position: relative;
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    margin: 173px 0 0 0;
    gap: 10px;
}

.decor-carousel-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 0;
    animation: scroll-left 20s linear infinite;
}

.decor-carousel-wrapper>* {
    flex-shrink: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 202px 0 0 0;
    gap: 100px;
}

.service-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 94px;
}
.service-block:first-child{
    margin-left: 68px;
}
.service-info {
    display: flex;
    flex-direction: column;
    width: 44%;
    margin: -27px 0 0 0;
    gap: 31px;
    align-items: center;
}

.service-title {
    text-transform: uppercase;
    font-family: "IvyOra";
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color: var(--main-black);
}

.service-price {
    font-family: "Inter Tight", serif;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: var(--main-black);
}

.custom-list {
    list-style: none;
    font-family: "Inter Tight", serif;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-left: -51px;
    letter-spacing: 1px;
}

.custom-list li {
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
    margin-left: 26px;
    letter-spacing: 0;
    position: relative;
}

.custom-list li::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/assets/star.png');
    background-size: cover;
}

.service-note {
    width: 74%;
    text-align: justify;
    margin: -18px 0 0 52px;
    font-family: "Inter Tight", serif;
    font-size: 14px;
    line-height: 120%;
}

.service-info button {
    width: 74%;
    margin-top: 20px;
}

.service-express {
    padding: 0 5% 0 3%;
}

.service-express-photo {
    margin-top: -50px;
}

.service-personal-photo {
    margin-left: 6%;
}

.organizational-issues {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--main-dark-grey);
    color: var(--background);
    margin-top: 115px;
    min-height: 723px;
}

.organizational-issues h3, .organizational-issues p {
    color: var(--background);
}

.organizational-issues-text p {
    margin-left: 65px;
    text-align: start;
}

.organizational-issues-text ul {
    margin-left: 82px;
}

.organizational-issues-text ul li::before {
    background-image: url('/assets/star-white.png');
}

.organizational-issues-img img{
    width: 524px;
    height: 723px;
}

.organizational-issues-img {
    display: flex;
    align-items: center;
}

.organizational-issues-text {
    padding: 100px 34px 0 0px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 64%;
}

.wedding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 213px;
    gap: 100px
}

.wedding-services {
    width: 95%;
    display: flex;
    flex-direction: row;
}

.wedding button {
    width: 45%;
}

.vertical-line {
    display: flex;
    width: 1px;
    background-color: var(--main-black);
}

.wedding-service {
    display: flex;
    flex-direction: column;
    gap: 34px;
    justify-content: center;
}

.wedding-service ul {
    margin-left: 0;
}

.wedding-slides {
    display: flex;
    flex-direction: row;
    width: 91%;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.wedding-slide img {
    width: 421px;
    height: 602px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 198px 0 0 0;
    gap: 110px;
    padding: 0 40px;
}

.contacts-form-title {
    font-family: "IvyOra";
    font-size: 192px;
    line-height: 110%;
    color: var(--main-black);
    letter-spacing: 0.1px;
    display: flex;
    text-align: center;
}

.contacts-form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.form-container {
    width: 49%;
    margin: -10px 0 0 0;
}

.contacts-form-info {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 63px;
}

.contacts-form-info p {
    font-family: "Inter Tight", serif;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.1px;
    color: var(--main-black);
}

.contacts-form-info-media-links {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.media-link a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: "Inter Tight", serif;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1px;
    padding: 0 0 0 5px;
    color: var(--main-dark-grey);
    cursor: pointer;
}

.media-link a:visited {
    text-decoration: none;
    color: var(--main-dark-grey);
}

form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    display: block;
    margin-top: 10px;
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
    color: var(--main-dark-grey);
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--background);
    border: none;
    border-bottom: 1px solid var(--dark-grey);
}

input::placeholder,
select::placeholder,
textarea::placeholder,
select {
    color: var(--default-grey);
    font-family: "Inter Tight", serif;
    font-size: 16px;
    line-height: 120%;
}

.submit-button{
    width: 99%;
    margin: 26px 0 0 0;
}